@use '../App.scss' as s;

.home-container {
	font-size: 0.95rem;
	margin: 0 2vw;
}

.carousel {
	position: relative;
	top: 88px;
	overflow: hidden;
	cursor: grab;
	border-radius: 8px;
}
.inner-carousel {
	display: flex;
	cursor: grab;
}
.item {
	transition: all 200ms ease-in-out;
	min-width: 40rem;
	max-width: 100%;
	height: 70vh;
	padding: 8px 4px;
}
.item img {
	@include s.flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 7px;
	pointer-events: none;
	border: 2px solid s.$secondary-color;
}
.item:hover,
.item:focus {
	transform: scale(0.98);
}

.imgdiv {
	width: 100%;
	height: 100%;
}
.text {
	@include s.flex;
}

.text-zone {
	z-index: 55;
	background-color: s.$secondary-color;
	@include s.flex;
	flex-direction: column;
	min-width: 16rem;
	padding: 0px 8px;
	border: 4px solid s.$accent-color;
	border-radius: 8px;
}

.bottom-home--link {
	background-color: s.$secondary-color;
	@include s.flex;
	position: relative;
	width: 140px;
	bottom: 8px;
	float: right;
	margin-right: 16px;
	padding: 8px;
	color: black;
	font-size: 1.4rem;
	border-radius: 7px;
	border: 4px solid s.$accent-color;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(40%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.contact-container {
	.ctext-zone {
		z-index: 55;
		background-color: s.$secondary-color;
		display: flex;
		flex-direction: column;
		min-width: 16rem;
		max-width: 50%;
		padding: 8px 16px;
		margin: 0 auto;
		margin-top: 112px;

		border: 4px solid s.$accent-color;
		outline: 12px double s.$grey-color;
		border-radius: 8px;
		h2 {
			color: s.$primdark-color;
			font-size: 1.8rem;
			margin-bottom: -8px;
		}
		p:first-of-type {
			margin-bottom: -8px;
		}
	}
}
.ctext-text {
	padding-left: 8px;
}
.contact-form {
	width: 100%;
	margin-top: -16px;

	ul {
		padding: 4px 8px;
		margin: 0;
		li {
			overflow: hidden;
			display: block;
			position: relative;
			opacity: 0;
			padding: 0;
			margin: 0;
			margin-bottom: 4px;
			list-style: none;
			animation: fadeIn 1.8s 0.2s;
			animation-fill-mode: forwards;

			input,
			textarea {
				border-radius: 4px;

				font-family: 'Caudex', serif;
				background-color: s.$grey-color;
				padding: 4px;
				width: 100%;
			}
			textarea {
				max-width: 100%;
				height: 7rem;
				font-size: 14px;
			}
		}
		.flat-btn {
			font-weight: 900;
			padding: 8px 8px;
			letter-spacing: 2px;
			cursor: cell;
			&:hover,
			&:focus {
				background-color: #fff;
			}
		}
	}
}

.info-map {
	z-index: 999;
	background-color: #fff;
	position: relative;
	font-size: 1.2rem;
	margin-top: 32px;
	margin-left: 8vw;
	width: 240px;
	padding: 16px;
	padding-top: 8px;
	outline: 4px solid s.$grey-color;
	animation: fadeIn 1s 1.5s;
	animation-fill-mode: forwards;
	span {
		display: block;
		padding-top: 16px;
	}
}

.map-wrap {
	width: 88%;
	height: 54vh;
	margin: 0 auto;
	margin-bottom: 24px;
	margin-top: -8px;
	outline: 8px solid s.$grey-color;
	border-radius: 7px;
	border: 4px solid s.$secondary-color;
}
.leaflet-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.map-arrow {
	font-size: larger;
}
